.home-transition-enter {
	opacity: 0.01;
	transition: opacity .3s ease-in;
}

.search-box,.close-icon {
	position: relative;
	padding: 10px;
}

.home-transition-enter.home-transition-enter-active {
	opacity: 1;	
	transition: opacity .2s linear;
}

.home-transition-leave {
	opacity: 1;
	transition: opacity .2s linear;
}

.home-transition-leave.home-transition-leave-active {
	opacity: 0.01;
}

.close-icon-inactive {
	position: absolute;
	right: 5px;
	outline: none;
	background: transparent;
	border-style: none;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;       
	color: #ccc;
	padding:10px;
}

.close-icon-active {
	position: absolute;
	right: 5px;
	outline: none;
	background: transparent;
	border-style: none;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;       
	padding:10px;        

}